.container {
    min-height: 20rem;
    min-width: 20rem;
    display: flex;
    font-size: 2rem;
}

.izquierda{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    
}

.main{
    background-color: brown;
padding: 10px;
flex-grow: 1;

}
@media(max-width: 640px){
.container {
        flex-direction: column-reverse;
    }
    .izquierda {
        flex-direction: row;
        justify-content: center;
    }
}